#content
{
    background-color: #deeffe;
    height: 130px;
}

body
{
    font-family: "Courier New", Times, Monospace;
    text-align: left;
    text-shadow: 2px 2px 5px black;
    vertical-align: middle;
    background-color: white;
    
}

.text
{    
    padding-left: 20px;
    vertical-align: middle;
}

hr
{
    display: block; height: 1px;
    border: 0; border-top: 1px solid white;
    margin: 1em 0; padding: 0;
}